@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300;1,400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

body {



    height: auto;


}



//Colo de texto----------------

.tWhite {

    color: white;
}



header {

    //grid-area: header;
    height: 100px;
    width: auto;
    background-color: white;
    color: black;

}


nav {

    //grid-area: nav;
    // height: 100px;
    // width: auto;
    background-color: #c85e9c;

    div {
        div {
            a {
                color: white;
            }
        }
    }

}

main {

    // grid-area: main;
    height: 300px;
    background-image: url(../img/Header.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;

    div {

        p {
            color: white;
            text-align: center;
            padding-top: 10px;
            text-shadow: 5px 5px 10px #92d1d1;
            font-size: 20px;
        }

    }


}

section {
    grid-area: section;
    min-height: 600px;
    width: auto;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;



}


footer {


    height: 100px;
    width: auto;
    background-color: #92d1d1;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        margin-top: 5px;

    }



}


.precio {

    margin: 10px;
    font-weight: bold;
    text-shadow: 0 0 10px #ebc3db;

}



.sectionPag{

    grid-area: section;
    min-height: 400px;
    width: auto;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

}

//Card

.card1 {


    border-color: #92d1d1;
    box-shadow: 0 0 5px #92d1d1;
}


.card2 {

margin-left: 10px;
border-color: #ebc3db;
box-shadow: 0 0 5px #ebc3db ;

img{
    height:180 ;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
}

}


.aPagar{


color:white;
background-color: #ebc3db;
box-shadow: 0 0 10px #92d1d1;
font-weight: bold;
min-height: 30px;
padding: 10px;
margin-top: 20px;


}

.aPagar2{


    color:white;
    background-color: #ebc3db;
    box-shadow: 0 0 10px #92d1d1;
    border-radius: 5px;
    font-weight: bold;
    width: auto;
    min-height: 30px;
    margin: 10px;    
    padding: 10px;;
    
    
    }

    .aPagar3{


        color:white;
        background-color: #92d1d1;
        box-shadow: 0 0 10px #92d1d1;
        border-radius: 5px;
        font-weight: bold;
        width: auto;
        min-height: 30px;
        margin: 10px;    
        padding: 10px;

        
        }



        .aPagar4{


            color:white;
            background-color: #92d1d1;
            box-shadow: 0 0 10px #92d1d1;
            border-radius: 5px;
            font-weight: bold;
            width: auto;
            min-height: 30px;
            margin-top: 10px;
            padding: 10px;
    
            
            }  
    
//Contenedores - Box

.rrss {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 10px;

}

.bTitle {

    background-color: #92d1d1;
    height: 100px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #ebc3db;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    h2 {
        color: white;
        text-shadow: 0 0 5px #ebc3db;

    }

}

#Servicios {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 100px;

}

.carrito {

    margin-top: 20px;

    div {

        div {

            div {
                div {

                    h5 {

                        color: #c85e9c;
                        text-shadow: 0 0 10px white;

                    }

                    p {

                        text-shadow: 0 0 10px white;

                    }

                }
            }
        }
    }


}


.inputs{

    margin-top: 10px;
    border-color: #ebc3db;
    p{

        font-weight: bold;

    }
    #nombre{

        border-radius: 5px;
        border-color: #ebc3db;
        box-shadow: 0 0 5px #c85e9c;

    }

    #edad{

        border-radius: 5px;
        border-color: #ebc3db;
        box-shadow: 0 0 5px #c85e9c;

    }

    #telefono{

        border-radius: 5px;
        border-color: #ebc3db;
        box-shadow: 0 0 5px #c85e9c;
        

    }

    #coder{

        border-radius: 5px;
        border-color: #ebc3db;
        box-shadow: 0 0 5px #c85e9c;

    }
}

//Buttons
.botonCompra{

    background-color:#92d1d1 ;
    border-color: #92d1d1;
    border-radius: 5px;
    padding: 5px;
    box-shadow: none;
    color: white;
    width: 100px;
    margin-left: 50px;

    &:hover{
        background-color: #ebc3db;
        border-color: #ebc3db;
    }




}


.botonCompra2{

    background-color:#92d1d1 ;
    border-color: #92d1d1;
    border-radius: 5px;
    padding: 5px;
    box-shadow: none;
    color: white;
    width: 100px;
  
    margin-top: 20px;

    &:hover{
        background-color: #ebc3db;
        border-color: #ebc3db;
    }




}


.botonCarrito{

    background-color:#92d1d1 ;
    border-color: #92d1d1;
    border-radius: 5px;
    padding: 5px;
    box-shadow: none;
    color: white;
    width: 100px;
    margin-left: 50px;

    margin-bottom: 50px;

    &:hover{
        background-color: #ebc3db;
        border-color: #ebc3db;
    }




}

.carritoCompras{

min-height: 200px;
margin-top: 20px;
margin-bottom: 100px;

    h2{
        font-size: 20px;
        text-shadow: 0 0 10px #c85e9c;
    }


}

.botonCarrito2{

    background-color:#92d1d1 ;
    border-color: #92d1d1;
    border-radius: 5px;
    padding: 5px;
    box-shadow: none;
    color: white;
    width: 200px;
    margin: 10px;
    margin-left: 30px;
 
    &:hover{
        background-color: #ebc3db;
        border-color: #ebc3db;
    }




}

.botonCarrito3{

    background-color:#92d1d1 ;
    border-color: #92d1d1;
    border-radius: 5px;
    padding: 5px;
    box-shadow: none;
    color: white;
    width: 200px;
    margin-top: 20px;
    margin-left: 2px;
   
 
    &:hover{
        background-color: #ebc3db;
        border-color: #ebc3db;
    }




}